In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests


# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-04-14 02:26:51,-33.6500,115.3333,65.19,54,0,7.56
1,1,Dunedin,NZ,2022-04-14 02:28:00,-45.8742,170.5036,59.25,50,25,3.29
2,2,Ushuaia,AR,2022-04-14 02:26:54,-54.8000,-68.3000,49.66,76,40,29.93
3,3,Toowoomba,AU,2022-04-14 02:31:47,-27.5500,151.9667,68.25,65,42,3.00
4,4,Cape Town,ZA,2022-04-14 02:27:32,-33.9258,18.4232,64.11,85,0,18.41

In [3]:
# Recall that you use the (dtypes) method to get the data types of a DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])


# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Bengkulu,ID,2022-04-14 02:31:49,-3.8004,102.2655,83.93,66,51,2.95
18,18,Denpasar,ID,2022-04-14 02:31:48,-8.6500,115.2167,85.71,79,20,4.61
21,21,Lahan,NP,2022-04-14 02:31:51,26.7296,86.4951,89.76,45,0,4.45
32,32,Avarua,CK,2022-04-14 02:26:59,-21.2078,-159.7750,84.25,74,20,5.75
34,34,Dingle,PH,2022-04-14 02:27:22,10.9995,122.6711,83.66,70,81,3.20
38,38,Katherine,AU,2022-04-14 02:31:55,-14.4667,132.2667,91.72,49,98,8.05
49,49,Progreso,MX,2022-04-14 02:31:57,21.2833,-89.6667,87.91,62,68,15.59
57,57,Cayenne,GF,2022-04-14 02:27:39,4.9333,-52.3333,81.09,1,75,9.22
59,59,Vaini,TO,2022-04-14 02:27:17,-21.2000,-175.2000,82.56,94,40,10.36
65,65,Karratha,AU,2022-04-14 02:29:28,-20.7377,116.8463,91.15,24,0,3.13

In [13]:
preferred_cities_df.count()

City_ID       112
City          112
Country       112
Date          112
Lat           112
Lng           112
Max Temp      112
Humidity      112
Cloudiness    112
Wind Speed    112
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
10   Bengkulu      ID     83.93  -3.8004  102.2655
18   Denpasar      ID     85.71  -8.6500  115.2167
21      Lahan      NP     89.76  26.7296   86.4951
32     Avarua      CK     84.25 -21.2078 -159.7750
34     Dingle      PH     83.66  10.9995  122.6711
38  Katherine      AU     91.72 -14.4667  132.2667
49   Progreso      MX     87.91  21.2833  -89.6667
57    Cayenne      GF     81.09   4.9333  -52.3333
59      Vaini      TO     82.56 -21.2000 -175.2000
65   Karratha      AU     91.15 -20.7377  116.8463

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
            #IndexError: list index out of range
    
    # Grab the first hotel from the results and store the name. (Try - Except to fix indexerror)
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Bengkulu,ID,83.93,-3.8004,102.2655,Grage Hotel Bengkulu
18,Denpasar,ID,85.71,-8.6500,115.2167,OYO 3156 Hotel Warta 2
21,Lahan,NP,89.76,26.7296,86.4951,Bhattarai Residence
32,Avarua,CK,84.25,-21.2078,-159.7750,Paradise Inn
34,Dingle,PH,83.66,10.9995,122.6711,SEGAYA PROPERTY
...,...,...,...,...,...,...
534,Lubao,PH,91.11,14.9167,120.5500,Hacienda Gracia
535,Puerto Gaitan,CO,82.78,4.3133,-72.0816,Brisas del Yucao
537,Galesong,ID,87.82,-5.3166,119.3661,Sapriadi Appy
540,Olinda,BR,82.13,-8.0089,-34.8553,Flat Quatro Rodas Olinda
542,Pochutla,MX,82.22,15.7432,-96.4661,Hotel Posada San Jose

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))